* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

.controls {
  position: absolute;
  z-index: 100;

  /* justify-content: space-around; */
  right: 2rem;
  top: 2rem;
  min-height: 10rem;
  padding: 1rem;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.controls button {
  margin: .5rem 0;
}

.controls fieldset {
  display: flex;
  flex-direction: column;
}

.speed {
  margin: 1rem 0;
}

.transport {
  /* display: flex;
  justify-content: space-between; */
}

output {

  border: 2px solid black;
  padding: .2rem .8rem;
  margin: 0 auto;
  /* text-align: center;
  width: 35%; */
  /* background: black;
  color: white; */
}

.values {
  /* outline: 1px solid black; */
  display: flex;
  align-items: center;
  margin: .5rem 0;
}

.values output {
  /* margin-left: auto; */
  /* margin: initial initial initial auto; */
  /* align-self: flex-end; */
  margin: 0 0 0 auto;
}

input[type="range"] {
  width: 100%;
}
